@using Eshop.Application.Utilities
@using Eshop.Domain.Dtos.Product
@model Eshop.Domain.Dtos.Product.FilterProductDto

@{
    ViewData["Title"] = "لیست محصولات";
}


@section scripts
{
    <partial name="_JqueryValidators" />
}

<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Administration" asp-controller="Home" asp-action="Index">داشبورد</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">مدیریت محصولات</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">@ViewData["Title"]</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-plus"></i> افزودن محصول</div>
            <div class="card-body">

                <div class="row">

                    <div class="form-group col-lg-12">
                        <label>افزودن محصول</label>
                        <a class="btn btn-sm btn-success btn-block form-control"
                           asp-area="Administration" asp-controller="Product"
                           asp-action="CreateProduct">
                            افزودن محصول جدید
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-filter"></i> فیلتر ها</div>
            <div class="card-body">

                <form asp-area="Administration" asp-controller="Product" asp-action="FilterProduct" method="get" id="filter-form">
                    <input type="hidden" asp-for="PageId" />
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>نام محصول</label>
                            <input class="form-control" asp-for="ProductTitle" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label>نام دسته محصول</label>
                            <input class="form-control" asp-for="Category" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <div>
                                <label>وضعیت</label>
                            </div>
                            @foreach (var item in Html.GetEnumSelectList<FilterProductState>())
                            {
                                <div class=" radio icheck-material-white icheck-inline">
                                    <label>
                                        <input type="radio" style="width: 16px;height: 16px" value="@item.Value" name="@nameof(Model.ProductState)"
                                        @(Convert.ToInt32(item.Value) == Convert.ToInt32(Model.ProductState) ? "checked" : "")>
                                        <span class="text">@item.Text</span>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">اعمال فیلتر</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <div id="default-datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                @if (Model.Products != null && Model.Products.Any())
                                {
                                    <table id="default-datatable" class="table table-bordered dataTable" role="grid" aria-describedby="default-datatable_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc">شناسه</th>
                                                <th class="sorting">تصویر</th>
                                                <th class="sorting">نام محصول</th>
                                                <th class="sorting">قیمت محصول</th>
                                                <th class="sorting">وضعیت</th>
                                                <th class="sorting">تاریخ ایجاد</th>
                                                <th class="sorting">ایجاد تخفیف</th>
                                                <th class="sorting">دستورات</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var product in Model.Products)
                                            {
                                                <tr id="ajax-url-item-@product.Id" role="row" class="odd">
                                                    <td>@product.Id</td>
                                                    <td class="sorting">
                                                        <img style="width: 50px; height: 50px;"
                                                             src="@(!string.IsNullOrEmpty(product.Image) ? PathExtension.ProductOrigin + product.Image : PathExtension.DefaultAvatar)" alt="@product.Title" />
                                                    </td>

                                                    <td>@product.Title</td>
                                                    <td>@product.Price.ToString("##,###") تومان</td>
                                                    @switch (product.IsActive)
                                                    {
                                                        case true:
                                                            <td>فعال</td>
                                                            break;
                                                        case false:
                                                            <td>غیرفعال</td>
                                                            break;

                                                    }
                                                    <td>@product.CreateDate.ToStringShamsiDate()</td>
                                                    <td>
                                                        <a asp-area="Administration" asp-controller="ProductDiscount" asp-action="FilterDiscounts" asp-route-productId="@product.Id" class="btn btn-sm btn-success">
                                                            ایجاد تخفیف محصول
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a asp-area="Administration" asp-controller="Product" asp-action="EditProduct" asp-route-productId="@product.Id" class="btn btn-sm btn-warning">
                                                            ویرایش اطلاعات
                                                        </a>
                                                        <a asp-area="Administration" asp-controller="Product" asp-action="FilterProductColor" asp-route-productId="@product.Id" class="btn btn-sm btn-info">
                                                            افزودن رنگ
                                                        </a>
                                                        <a asp-area="Administration" asp-controller="Product" asp-action="FilterProductFeature" asp-route-productId="@product.Id" class="btn btn-sm btn-dark">
                                                            افزودن ویژگی
                                                        </a>
                                                        <a asp-area="Administration" asp-controller="Product" asp-action="FilterProductGallery" asp-route-productId="@product.Id" class="btn btn-sm btn-primary">
                                                            افزودن گالری
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="alert alert-warning alert-dismissible mb-0" role="alert">
                                        <div class="alert-icon">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </div>
                                        <div class="alert-message text-dark">
                                            <span><strong>هشدار!</strong> هیچ اطلاعاتی یافت نشد</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <hr />
                        <hr />
                    </div>
                </div>
                <br />
                <partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />
                <div class="col-sm-12 col-md-12">
                    <div class="dataTables_info" id="default-datatable_info" role="status" aria-live="polite">نمایش تعداد 10 محصول در هر صفحه از تعداد کل : @Model.Products.Count محصول</div>
                </div>
            </div>
        </div>
    </div>
</div>