@using Eshop.Application.Utilities
@model List<Eshop.Domain.Entities.Product.Product>


<section class="special-offers">
    <div class="container-fluid position-relative">
        <div class="special-offer-bg-parent">
            <div class="d-flex special-offer-bg">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-shop text-white" viewBox="0 0 16 16">
                    <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z" />
                </svg>
                <h6 class="h3 text-white ms-3">جدیدترین محصولات</h6>
            </div>
        </div>
        <div class="special-offers-swiper">
            <div class="swiper pro-slider">
                <div class="swiper-wrapper">
                    @foreach (var product in Model)
                    {
                        <div class="swiper-slide">
                            <div class="product-box border-ui">
                                <a href="#">
                                    <div class="product-image">
                                        <img src="@(!string.IsNullOrEmpty(product.Image) ? PathExtension.ProductOrigin + product.Image : PathExtension.NoImage)"
                                             alt="@product.Title" title="@product.Title" class="img-fluid">
                                    </div>
                                    <div class="d-flex h-80-px align-items-center justify-content-between ">
                                        <h6 class="font-14 text-overflow-2 my-3 lh-lg">
                                            @product.Title
                                        </h6>
                                    </div>
                                    <div class="bs-bg-gray-200 p-2 border-ui  rounded-3">
                                        @if (product.ProductDiscounts != null && product.ProductDiscounts.Any(x => x.ExpireDate >= DateTime.Now))
                                        {
                                            <div class="d-flex align-items-center justify-content-between">
                                                @foreach (var discount in product.ProductDiscounts)
                                                {
                                                    <div class="discount mt-1">
                                                        <span class="btn main-color-one-bg"><i class="bi bi-cart"></i></span>
                                                        <div class="countdown mt-1" data-date="@discount.ExpireDate.ToString("yyyy-M-d")" data-time="00:00"></div>

                                                    </div>
                                                    <div class="price d-flex justify-content-end flex-column align-content-end">
                                                        <p class="new-price me-0 text-end">
                                                            @(Convert.ToInt32(product.Price - ((product.Price * discount.Percentage) / (double)100)).ToString("#,0")) <span class="fw-normal">تومان</span>
                                                        </p>
                                                        <p class="old-price mt-2">
                                                            <span class="badge bg-danger rounded-pill me-2">@discount.Percentage %</span>
                                                            @product.Price.ToString("##,###")
                                                        </p>
                                                    </div>
                                                }
                                            </div>

                                        }
                                        else
                                        {
                                            <span class="btn main-color-one-bg"><i class="bi bi-cart"></i></span>
                                            <div class="price d-flex justify-content-end flex-column align-content-end">
                                                <p class="new-price me-0 text-end">
                                                    @product.Price.ToString("##,###") <span class="fw-normal">تومان</span>
                                                </p>
                                            </div>
                                        }
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>
